<mat-sidenav-container class="sidenav-container">
    <mat-sidenav color = "black" [mode]="isMobile ? 'over' : 'side'" [opened]="isMobile ? 'false' : 'true'">
      <mat-nav-list >
        <a mat-list-item [routerLink]="['/accueil']">
          <span class="entry">
            <mat-icon>house</mat-icon>
            <span *ngIf="!isCollapsed">Accueil</span>
          </span>
        </a>
        <a mat-list-item>
          <span class="entry">
            <mat-icon>event</mat-icon>
            <span *ngIf="!isCollapsed">Agenda</span>
          </span>
        </a>
        <a mat-list-item>
          <span class="entry">
            <mat-icon>settings</mat-icon>
            <span *ngIf="!isCollapsed">Paramètres</span>
          </span>
        </a>
        <a mat-list-item [routerLink]="['/twitch']">
          <span class="entry">
            <mat-icon>podcasts</mat-icon>
            <span *ngIf="!isCollapsed">Lives</span>
          </span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
<mat-toolbar color="black">
    <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>TYD</h1>
    <p class="search">
      <mat-form-field appearance="outline">
        <mat-label>Rechercher</mat-label>
        <input matInput placeholder="Un streamer, peut-être ?" [(ngModel)]="searchQuery" (keyup.enter)="search()">
        <mat-icon matSuffix (click)="search()">search</mat-icon>
      </mat-form-field>
    </p>
</mat-toolbar>
